img{
    margin-left: -70px;
}
.text{
    background-color: #2d9646;
    color: white;
}
.idk{
    background-color: #20c997;
    color: white;
}
.wtf{
    background-color: #1c7430;
    color: white;
}
.ty{
    background-color: #80bdff;
    color: white;
}
.way{
    background-color: #005cbf;
    color: white;
}



